.Step {
  display: flex;
  width: (100% / 3);
  height: 44px;
  padding: 0;
  border: 0 none;
  border-left: 1px solid #ccc;
  background-color: #fff;

  &:first-child {
    border-left: 0 none;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 44px;
  }

  &__title {
    display: flex;
    align-items: center;
    width: calc(100% - 46px);
    height: 44px;
    padding-left: 10px;
    border-left: 1px dotted #ccc;
    text-align: left;
  }

  &_selected {
    background-color: #1a1ac3;
    color: #fff;
  }

  &_clickable {
    cursor: pointer;
  }
}
