.Step {
  display: flex;
  width: 33.33333%;
  height: 44px;
  padding: 0;
  border: 0 none;
  border-left: 1px solid #ccc;
  background-color: #fff; }
  .Step:first-child {
    border-left: 0 none; }
  .Step__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 44px; }
  .Step__title {
    display: flex;
    align-items: center;
    width: calc(100% - 46px);
    height: 44px;
    padding-left: 10px;
    border-left: 1px dotted #ccc;
    text-align: left; }
  .Step_selected {
    background-color: #1a1ac3;
    color: #fff; }
  .Step_clickable {
    cursor: pointer; }
